
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="web">
    <center><p style="margin-top:10px; font-weight: bold;font-size: 30px;border-bottom: 1px solid #E1E1E1;color: blue">GIỚI THIỆU</p></center>
    <div class="KhungChinh">
        <a><strong>Ngoài một danh sách dài công dụng cho sức khỏe, thì trà khi kết hợp với một thành phần kinh điển là sữa sẽ mang đến một sản phẩm mới vô cùng thú vị.</strong></a><br>
        <a>- Để làm rõ cho những lợi ích này, chúng ta tạm thời không nói đến những cốc trà sữa sử dụng nguyên liệu “rởm” mà hãy đi sâu khám phá những lợi ích của việc uống trà sữa chuẩn nguyên liệu nhé!</a><br>

        <a><strong>Vô vàn mặt tốt từ trà</strong></a><br>

        <a>- Ai cũng biết trà là thành phần chính của món trà sữa tuyệt hảo. Trà được xem như một loại đồ uống phổ biển chỉ sau nước tinh khiết. Việc uống trà mỗi ngày rất tốt cho cơ thể, giúp loại bỏ độc tố, chống lão hóa và ngăn ngừa ung thư. Các nhà khoa học cũng chứng minh, trà giúp tăng cường trí nhớ, chống béo phì và có tác dụng làm đẹp da.<br></a>
        <P style="margin:0px 0px 0px 300px"><a><img src="/Assets/Client/anh/21.jpg" alt="ảnh lỗi"></a></P><br>
        <a><strong>Uống trà sữa không hề béo như bạn nghĩ</strong><br></a>
        <a>- Nhiều người cứ nghĩ trà sữa thì “sữa” sẽ rất béo nhưng điều này không đúng. Bột sữa thực vật hoàn toàn không có chất béo mà lại mang vị ngậy rất cao khiến người uống lầm tưởng rằng uống trà sữa rất béo.<br></a>
        <a>- Không những vô hại mà lại còn bổ dưỡng vì giúp bổ sung nguồn dinh dưỡng từ sữa thực vật với chiết xuất từ lúa mạch, lúa mì và bột gạo.<br></a>
        <P style="margin:0px 0px 0px 100px"><a><img src="/Assets/Client/anh/22.jpg" alt="ảnh lỗi"></a></P><br>
        <a><strong>Trà sữa là thức uống mang lại niềm vui</strong><br></a>
        <a>- Giải mã sức hút của trà sữa, nhiều người cho biết họ yêu thích bởi mùi vị ngon và dễ uống. Theo thời gian, đồ uống này luôn được làm mới bởi nhiều loại mùi hương, topping phong phú, hấp dẫn. Không chỉ uống trà sữa để giải khát, đối với nhiều bạn trẻ, uống trà sữa được xem là sở thích cá nhân ngang hàng với những đam mê khác như du lịch, xem phim, đọc sách, chơi game... Với họ, nhâm nhi một ly trà sữa thơm ngon bên bạn bè là một cách để thư giãn, xả stress hữu hiệu. Trà sữa đã trở thành thức uống “thần thánh”, là cầu nối giữa những người chưa quen biết, trà sữa để ngắm những trai xinh gái đẹp, để chữa lành những trái tim đang giận dỗi.<br></a>
        <P style="margin:auto"><a><img src="/Assets/Client/anh/23.jpg" alt="ảnh lỗi"></a></P><br>
        <a>- Trà sữa cũng có những lợi ích mà chúng ta không ngờ tới, chỉ có điều nguyên liệu để tạo ra những ly trà sữa cần đảm bảo về nguồn gốc xuất xứ và được kiểm chứng chất lượng. Đồ uống được đánh giá thật sự tốt khi sử dụng những nguyên liệu chuẩn, an toàn, chất lượng tốt, việc kinh doanh đồ uống chỉ đạt hiệu quả khi chất lượng đồ uống được đảm bảo và kinh doanh trà sữa cũng vậy. Có không ít những quán trà sữa mở ra và chỉ tồn tại được trong thời gian ngắn do chạy theo lợi nhuận mà sử dụng nguyên liệu kém chất lượng – “rẻ tiền”.<br></a>
        </P>
    </div>
</div>
