
@{
    ViewBag.Title = "TuyenDung";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="web">
    <center><p style="margin-top:10px; font-weight: bold;font-size: 30px;border-bottom: 1px solid #E1E1E1;color: blue">THÔNG TIN TUYỂN DỤNG</p></center>
    <div class="KhungChinh">

        <p style="margin:center" >
        <P style="margin:0px 0px 0px 530px"><a><img src="/Assets/Client/anh/20.png" alt="ảnh lỗi"></a></P><br>
        <a>	- YẾU TỐ TRỞ THÀNH NHÂN VIÊN<br></a>
        <strong>
            <a>- Có kỹ năng giao tiếp ở mức khá – tốt.<br></a>
            <a>- Có kinh nghiệm trong ngành dịch vụ, khách sạn – nhà hàng là ưu thế.<br></a>
            <a>- Khả năng giao tiếp ngoại ngữ là tiếng Anh ở mức cơ bản.<br></a>
            <a>- Làm việc siêng năng, đi làm đúng giờ và đều đặn.<br></a>
            <a>- Có sức khỏe tốt và có thể làm việc trong mô trường áp lực.</a><br>
            <input type="button" name="button" id="button" value="Ứng Tuyển Ngay" style="margin: 50px 0px 0px 500px; font-size: 50px">
        </strong>
        </p>
    </div>
</div>

