
@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .web .KhungChinh p img
    {
        width:310px;
        height:180px;
    }

</style>


<body>    


    <div class="banner">
        <img src="/Assets/Client/anh/6.jpg" height="400px" width="100%" alt="Banner" />
        <!--/* <marquee behavior="alternate" id="marq" scrollamount="15" direction="right" loop="50">
        <a href="#"><img src="/Assets/Client/anh/6.jpg" title="hình ảnh chạy" width="800" height="220"/> </a></marquee> */-->
    </div>

    <div class="web">
        <center><p style="margin-top:10px; font-weight: bold;font-size: 30px;border-bottom: 1px solid #E1E1E1;color: blue">SỰ LỰA CHỌN TỪ BẠN</p></center>
        <div class="KhungChinh">

            <a href="/DangNhap/DangNhap">
                <p><img src="/Assets/Client/anh/7.jpg" alt="Hinh Trà Sữa"><br>Trà Sữa MatCha Thạch MatCha</p>
            </a>

            <a href="/DangNhap/DangNhap">
                <p><img src="/Assets/Client/anh/8.png" alt="Hinh Trà Sữa"><br>Trà Sữa Đào Miếng</p>
            </a>

            <a href="/DangNhap/DangNhap">
                <p><img src="/Assets/Client/anh/10.jpg" alt="Hinh Trà Sữa"><br>Trà Sữa Đào Thạch</p>
            </a>

            <a href="/DangNhap/DangNhap">
                <p><img src="/Assets/Client/anh/15.jpg" alt="Hinh Trà Sữa"><br>Sinh Tố Đu Đủ</p>
            </a>

            <a href="/DangNhap/DangNhap">
                <p><img src="/Assets/Client/anh/4.jpg" alt="Hinh Trà Sữa"><br>Trà Sữa Trân Châu Dâu</p>
            </a>

            <a href="/DangNhap/DangNhap">
                <p><img src="/Assets/Client/anh/16.jpg" alt="Hinh Trà Sữa"><br>Sinh Tố Chuối</p>
            </a>
        </div>
        <div class="Top">
            <center><p style="margin-top:10px; font-weight: bold;font-size: 30px;border-bottom: 10px solid #E1E1E1;color: blue">TOP HAY DÙNG</p></center>

            <a href="#">
                <div class="anh"><img src="/Assets/Client/anh/16.jpg" alt="Ảnh lỗi"></div>
                <div class="chu"><p>Sinh Tố Chuối</p></div>
            </a>
            <center><div class="gach" align="center"></div></center>
            <a href="#">
                <div class="anh"><img src="/Assets/Client/anh/4.jpg" alt="Ảnh lỗi"></div>
                <div class="chu"><p>Trà Sữa Trân Châu Dâu</p></div>
            </a>

            <center><div class="gach" align="center"></div></center>
            <a href="#">
                <div class="anh"><img src="/Assets/Client/anh/7.jpg" alt="Ảnh lỗi"></div>
                <div class="chu"><p>Trà Sữa MatCha Thạch MatCha</p></div>
            </a>
            <center><div class="gach" align="center"></div></center>
            <a href="#">
                <div class="anh"><img src="/Assets/Client/anh/13.jpg" alt="Ảnh lỗi"></div>
                <div class="chu"><p>Sinh Tố Bơ</p></div>
            </a>
            <center><div class="gach" align="center"></div></center>
        </div>

    </div>
</body>


